<!DOCTYPE html>
<html>
<head>
    <title>Strategic Product Placement Analysis</title>
    <style>
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
</style>

</head>
<body>

<h2 style="text-align:center;color: rgba(41, 10, 84, 0.612);">
Strategic Product Placement Analysis: Unveiling Sales Impact Using Tableau Visualization
</h2>


<!-- TABLEAU EMBED START -->
<div class='tableauPlaceholder' id='viz1771432270239' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt='Strategic Product Placement Analysis – Sales Impact'
                 src='https://public.tableau.com/static/images/St/Strategic_Product_Placement_Analysis/Story1/1_rss.png'
                 style='border: none' />
        </a>
    </noscript>

    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https://public.tableau.com/' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value=''/>
        <param name='name' value='Strategic_Product_Placement_Analysis/Story1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-US' />
        <param name='filter' value='publish=yes' />
    </object>
</div>

<script type='text/javascript'>
    var divElement = document.getElementById('viz1771432270239');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width='100%';
    vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<!-- TABLEAU EMBED END -->

</body>
</html>
